<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
  <h1>Becca's Media Ranker</h1>

    <nav class="nav-bar">
    
    </nav> 
 

    <nav class="nav-bar">
    <%=link_to "|-Homepage-|", root_path %> 
    <%=link_to "|-View All Works-|", works_path %> <%=link_to "|-Add New Work-|", new_work_path %> 
    
    <% if User.find_by(id: session[:user_id]) %>
      <%=link_to "|-Logout-|", logout_path, method: :post %>
    <%else%>
      <%=link_to "|-Login-|", login_path %> 
    <%end%>
    
     <!--<%=link_to "|-Current User-|", current_user_path %>-->

    <%if User.find_by(id: session[:user_id])%>
      <span class="login-status"> Logged in as: <%= User.find_by(id: session[:user_id]).username %> </span>
    <%else%>
       <span class="login-status">Not Logged In</span> 
    <%end%>

    </nav>

    
  </header>

  <body>
    <section class="flash">
      <% flash.each do |name, message| %>
        <div class="<%= name %>"><%= message %></div>
      <% end %>
    </section>


    <%= yield %>
  </body>
  <footer>© Becca 2019 </footer>
</html>
